* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
}

#canvas1 {
    width: 400px;
    height: 300px;
    background-color: antiquewhite;
}